<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Adopción</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="StyleSheet" href="/animal.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Concert+One|Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kreon&display=swap" rel="stylesheet">
</head>
<body>
<div id="contenedor">
            <header><h1>Sistema de Adopción de Animales Domésticos</h1></header>
        </A>
        <nav>
            <ul>
                <li><a href="http://localhost:9090/Inicio"> Registrar</a></li>
                <li><a href="http://localhost:9090/info"> Consultar</a></li>
                <li><a href="http://localhost:9090/modificar"> Modificar</a></li>
                <li><a href="http://localhost:9090/eliminar"> Eliminar</a></li>
                <li><a href="http://localhost:9090/adopcion"> Adoptar</a></li>
            </ul>
        </nav>
    <div class="div">
        <form action="#" th:action="@{/adopcion/adoptateAnimal}" th:object="${animal}" method="post" >
            <br><br>
            <center>
                <label class="textT" > Adoptante: </label>
                <input class="inputlarge" placeholder="Nombre del adoptante" th:field="*{nombre_adopcion}" type="text">
                <button class="textT" id=boton  name="Adoptar">Adoptar</button>
                <input type="hidden" nombre="id" th:field="*{id}">
                <input type="hidden" nombre="id" th:field="*{nombre}">
                <input type="hidden" tipo="id" th:field="*{tipo}">
                <input type="hidden" raza="id" th:field="*{raza}">
                <input type="hidden" color="id" th:field="*{color}">
                <input type="hidden" pelaje="id" th:field="*{pelaje}">
                <input type="hidden" vacunas="id" th:field="*{vacunas}">
                <input type="hidden" adopcion="id" th:field="*{adopcion}">
                <input type="hidden" foto="id" th:field="*{foto}">
                <input type="hidden" foto="id" th:field="*{fechaNacimiento}">
                <input type="hidden" class="textT" name="adjunto" accept=".pdf,.jpg,.png" th:field="*{foto}">
            </center>


        </form>
    </div>

</div>
</body>
</html>