<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Registrar</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="StyleSheet" href="/animal.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Concert+One|Fredoka+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Kreon&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="contenedor">
            <A name="arriba"></A>
                <A name="primero">
                <header><h1>Sistema de Adopción de Animales Domésticos</h1></header>
            </A>
            <nav>
                <ul>
                    <li><a href="http://localhost:9090/Inicio"> Registrar</a></li>
                    <li><a href="http://localhost:9090/info"> Consultar</a></li>
                    <li><a href="http://localhost:9090/modificar"> Modificar</a></li>
                    <li><a href="http://localhost:9090/eliminar"> Eliminar</a></li>
                    <li><a href="http://localhost:9090/adopcion"> Adoptar</a></li>
                </ul>
            </nav>
            <center>
                <div class="div">
                    <form action="#" th:action="@{/createAnimal}" th:object="${animal}" method="post" enctype="multipart/form-data">
                        <br>
                        <!--<label class="textT"><H1>REGISTRAR</H1></label>-->
                        <br>
                        <input type="hidden" id="id" th:field="*{id}">
                        <label class="textT"> Nombre: </label>
                        <input class="input"  type="text" th:field="*{nombre}" />

                        <label class="textT"> Tipo: </label>
                        <select class="Lista" th:field="*{tipo}" placeholder="Tipo del animal"><label class="textM">
                            <option value="" >Seleccionar</option>
                            <option value="Perro" >Perro</option>
                            <option value="Gato" >Gato</option>
                        </label>
                        </select>

                        <label class="textT"> Color: </label>
                        <input class="input" type="color" name="color" th:field="*{color}" >

                        <label class="textT">Fecha de nacimiento: </label>
                        <input class="inputc" type="date" name="fechanac" th:field="*{fechaNacimiento}" >
                        <br><br>

                        <label class="textT"> Raza: </label>
                        <input class="input" type="text" name="raza" th:field="*{raza}" >

                        <label class="textT">Tipo de pelaje: </label>
                        <select class="Lista" th:field="*{pelaje}" ><label class="textM">
                            <option value=0 >Seleccionar</option>
                            <option value="Corto">Corto</option>
                            <option value="Largo">Largo</option>
                            <option value="Rizado">Rizado</option>
                            <option value="Grueso">Grueso</option>
                            <option value="Duro">Duro</option>
                            <option value="Abisinio">Abisinio</option>
                            <option value="Bengala">Bengala</option>
                            <option value="Sedoso">Sedoso</option>
                            <option value="Esfinge">Esfinge</option>
                        </label>
                        </select>

                        <label class="textT"> Vacunas: </label>
                        <label class="textM">
                            <input class="textM" type="checkbox" id="cbox2" th:field="*{vacunas}" value="Moquillo"> Moquillo
                            <input class="textM" type="checkbox" id="cbox3" th:field="*{vacunas}" value="Rabia"> Rabia
                            <input class="textM" type="checkbox" id="cbox4" th:field="*{vacunas}" value="Trivalente"> Trivalente
                            <input class="textM" type="checkbox" id="cbox5" th:field="*{vacunas}" value="Parvovirus"> Parvovirus
                            <input class="textM" type="checkbox" id="cbox6" th:field="*{vacunas}" value="Coronavirus"> Coronavirus
                        </label>


                        <!--
                        <font class="textT"> Estatus: </font>
                        <input type="text" name="raza" th:field="*{adopcion}" placeholder="Estatus del animal">
                        <font class="textT"> Adoptado por: </font>
                        <input type="text" name="raza" th:field="*{nombre_adopcion}" placeholder="Adoptado">-->

                        <br><br>
                        <label class="textT"> Seleccionar Fotografía:</label>
                        <input type="file" class="textT" name="adjunto" accept=".pdf,.jpg,.png" th:field="*{foto}">

                        <br><br><br><br>
                        <button class="textT" id=boton  name="btnRegistrar">Registrar</button>
                    </form>
                </div>
            </center>
        </div>
    </body>
</html>